.main-div{
   width: 100%;
    border-bottom: 1px solid black;
    padding:"10px";
    display: flex;
    color: black;
    margin-top: 10px;
    margin-bottom: 7px;
}
.details-div{
    margin-top: 20px;
   

}
.delete-icon{
    height: 40px;
}
.image-cart{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 5px;
    margin-right: 100px;
}

@media screen and (max-width:767px){

   .image-cart{

    margin-right: 10px;
    height: 140px;
    width: 140px;


   }
   .details-div{
    margin-top: 5px;
    

}




}