@media screen and (max-width:767px){
   .searchfield{
    width: 280px;
   }
   .homeicon{
      display: none;

    
   }
   .home-icon-div{
      display: none;
   }
   .menudiv{
     
      margin-left: 60px;
      margin-bottom: 5px;
      margin-top: -5px;
   }
   





}